/*----------------------------------
Background Colors
------------------------------------*/
.ts-body {
  background-color: #f8f8f8;
}

.bg-theme-default {
  background-color: var(--theme-default) !important;
}

.bg-beige {
  background-color: #F5E8C7 !important;
}

.bg-brown {
  background-color: #CC9B6D !important;
}

.bg-dark-green {
  background-color: #013220 !important;
}

.bg-light-gray {
  background-color: #eee !important;
}

/*----------------------------------
Z index
------------------------------------*/
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

/*----------------------------------
Border Radius
------------------------------------*/
.br-0 {
  border-radius: 0 !important;
}

.br-small {
  border-radius: .3rem !important;
}

.br-1 {
  border-radius: .4rem !important;
}

.br-2 {
  border-radius: 2rem !important;
}

.br-3 {
  border-radius: 3rem !important;
}

.br-4 {
  border-radius: 4rem !important;
}

.br-50 {
  border-radius: 100% !important;
}

.br-100 {
  border-radius: 100% !important;
}

/*----------------------------------
Border
------------------------------------*/
.border-top {
  border-top: solid 1px #ddd;
}

.border-bottom {
  border-bottom: solid 1px #ddd;
}

.border-none {
  border: none !important;
}


/*----------------------------------
Box Shadows
------------------------------------*/
.box-shadow {
  box-shadow: #e7e7e7 0 0 14px 0;
}

/*----------------------------------
Overlay Styles and Hover Scale
------------------------------------*/
.overlay {
  position: relative;

  span {
    &.bg {
      position: absolute;
      opacity: 0;
      background-color: rgba($black, 0.5);
      transition: opacity .3s ease-in-out;
      z-index: 4;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: .75rem 1rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    @include transition(.4s);
    z-index: 5;
    pointer-events: none;

    & * {
      color: $white;
    }
  }

  .from-top {
    position: absolute;
    padding: .75rem 1rem;
    top: 20%;
    left: 0;
    width: 100%;
    transform: translateY(20%);
  }

  &:hover {

    figcaption {
      opacity: 1;
      transform: translateY(22%);
    }

    img {
      @include transform(1.2);
    }

    span {
      opacity: 1;
    }
  }

}

.hover-scale {
  overflow: hidden;

  &:hover {
    img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.canvas-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3000px;
  background-color: rgba(0, 0, 0, 0.5);
  @include transition(.3s);
}

/*----------------------------------
List Styles
------------------------------------*/

.list-style-check {
  list-style: none;

  li {
    position: relative;
    padding-right: 1.5rem;
    color: $paragraph-color;

    &:not(:first-child) {
      padding-top: 1rem;
    }

    &:before {
      content: '\f26e';
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 1.2rem;
      right: 0;
    }
  }
}

.list-style-default {
  list-style: circle;
}

/*----------------------------------
Pagination
------------------------------------*/
.page-numbers {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  box-shadow: #e7e7e7 0 0 7px;
  &:not(:first-child) {
    margin-right: 1rem;
  }
  &.current {
    background: var(--theme-default);
    color: white;
  }
}

/*----------------------------------
Social Icons
------------------------------------*/
.social-icons {
  li {
    display: inline-block;
    padding-right: .5rem;
  }
}

/*----------------------------------
Pre Loader
------------------------------------*/
.pre-loader {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  @include transition(.7s);

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: $white;
    display: block;
    shape-rendering: auto;
    width: 100px;
    z-index: 12;

    .loader-item {
      fill: var(--theme-default);
    }
  }
}

/*----------------------------------
line Height
------------------------------------*/

.line-height-0 {
  line-height: 0;
}

.line-height-1 {
  line-height: 1;
}

/*----------------------------------
Other Classes
------------------------------------*/
.hide-in-mobile {
  display: none;
  @include minMedium {
    display: block;
  }
}

.show-in-mobile {
  display: block;
  @include minMedium {
    display: none;
  }
}

.subtitle {
  color: $subtitle-color;
  font-weight: normal;
  font-size: .9rem;
}

.text-red {
  color: $red;
}

.icon-list {
  li {
    padding: 1rem 0;
  }
}


.shadow-card {
  padding: 3rem;
  box-shadow: #f3f3f3 0 0 20px 0;
  background-color: $white;
}

.map {
  width: 100%;
  height: 650px;
}

.hover-color-inherit {
  &:hover {
    color: initial  !important;
  }
}


.box-shadowed {
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
  padding: 1rem;
  background: #fff;
}

.color-default {
  color: var(--theme-default);
}

.color-gray {
  color: $subtitle-color;
}


/*--------------------------------------------
  font size
----------------------------------------------*/

.fs-1 {
  font-size: 1rem;
}

.fs-medium {
  font-size: .9rem;
}

.fs-small {
  font-size: .5rem;
}

.ts-mr-1 {
  margin-right: 1rem !important;
}


.on-sale-product {
  path {
    fill: var(--theme-default) !important;
  }
}

.woosc-table-items {
  .woosc_table {
    padding: 1rem;
    tr {
      th {
        padding: 1rem !important;
        text-align: right !important;
      }
      td {
        padding: 1rem !important;
        text-align: right !important;
      }
    }
  }


}
.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-close {
  right: unset !important;
  left: 0 !important;
}



.bottom-6 {
  bottom: 6rem !important;
  @include minSmall {
    bottom: 1rem !important;
  }
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.loading::after, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.loading::after, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.loading::after, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.loading::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.loading::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.loading::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.loading::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.loading::after {
  top: unset;
  margin-right: .5rem;
  vertical-align: middle;
}