/*----------------------------------
Theme Color Variables
------------------------------------*/

.theme-color-1 {
  --theme-default: #{$theme-red};
}
.theme-color-2 {
  --theme-default: #{$theme-pink};
}
.theme-color-3 {
  --theme-default: #{$theme-purple};
}
.theme-color-4 {
  --theme-default: #{$theme-green};
}
.theme-color-5 {
  --theme-default: #{$theme-green-2};
}
.theme-color-6 {
  --theme-default: #{$theme-green-3};
}
.theme-color-7 {
  --theme-default: #{$theme-brown};
}
.theme-color-8 {
  --theme-default: #{$theme-blue};
}
.theme-color-9 {
  --theme-default: #{$theme-orange};
}
.theme-color-10 {
  --theme-default: #{$theme-purple-2};
}
.theme-color-11 {
  --theme-default: #{$theme-gold};
}
.theme-color-12 {
  --theme-default: #{$theme-blue-2};
}

